body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form label {
  font-size: 20px;
}
form input {
  width: 100%;
  margin: 10px 0 20px 0;
  background-color: beige;
  color: black;
  padding: 10px;
}
.hidden {
  display: none;
}
.btn {
  color: black;
  background-color: aliceblue;
  text-align: center;
  width: 30%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 20px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
